@value color-base-1, color-ability-border-selected, color-ability-active from "../values/colours.css";

@value border-radius: 50%;

.ability {
  composes: ability from "../shared/ability.css";
  border-radius: border-radius;
  border: 0.1rem solid color-base-1;
  cursor: pointer;
}
.abilityMasteryActive {
  composes: ability;
  background-color: color-ability-active;
}
.abilityMasterySelected {
  composes: ability;
  background: transparent;
  background-color: transparent;
}
.ability1 {
  composes: ability from "../shared/ability.css";
  border-radius: border-radius;
  border: 0.1rem solid color-base-1;
  cursor: pointer;
}
.abilityMasteryActive1 {
  composes: ability;
  background-color: color-ability-active;
}
.abilityMasterySelected1 {
  composes: ability;
  background: transparent;
  background-color: transparent;
}
.ability2 {
  composes: ability from "../shared/ability.css";
  border-radius: border-radius;
  border: 0.1rem solid color-base-1;
  cursor: pointer;
}
.abilityMasteryActive2 {
  composes: ability;
  background-color: color-ability-active;
}
.abilityMasterySelected2 {
  composes: ability;
  background: transparent;
  background-color: transparent;
}
.ability3 {
  composes: ability from "../shared/ability.css";
  border-radius: border-radius;
  border: 0.1rem solid color-base-1;
  cursor: pointer;
}
.abilityMasteryActive3 {
  composes: ability;
  background-color: color-ability-active;
}
.abilityMasterySelected3 {
  composes: ability;
  background: transparent;
  background-color: transparent;
}
.abilitySelected {
  composes: ability;
  border: 0.2rem solid color-ability-border-selected;
  margin: 0;
}
.image {
  composes: image from "../shared/ability.css";
  border-radius: border-radius;
}
.imageInactive {
  composes: imageInactive from "../shared/ability.css";
  border-radius: border-radius;
}
.image1 {
  composes: image from "../shared/ability.css";
  border-radius: border-radius;
}
.imageInactive1 {
  composes: imageInactive from "../shared/ability.css";
  border-radius: border-radius;
}
.image2 {
  composes: image from "../shared/ability.css";
  border-radius: border-radius;
}
.imageInactive2 {
  composes: imageInactive from "../shared/ability.css";
  border-radius: border-radius;
}
.image3 {
  composes: image from "../shared/ability.css";
  border-radius: border-radius;
}
.imageInactive3 {
  composes: imageInactive from "../shared/ability.css";
  border-radius: border-radius;
}
